

Group Name {{this.data?.groupname}}
<br>
Project Name : {{this.data?.name!}}
<br>
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


<h2>Controllers</h2>
<td>
  <button mat-icon-button (click)="addController()">
    <mat-icon>create_new_folder</mat-icon>
  </button>
</td>
<table class="ui basic table">
  <thead>
    <tr>
      <th *ngFor="let header of controllertHeaders">{{header.value}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of this.data?.controllers" >
      <a [href]="'http://localhost:4200/controller/' + item.id" target="_blank">

        <td>
            {{item["id"]}}
        </td>


       <td>
          {{item["name"]}}
       </td>


       <td>
        {{item["serviceCount"]}}
     </td>
      </a>

  </tr>
  </tbody>
</table>





<h2>Events</h2>
<td>
  <button mat-icon-button (click)="addEvent()">
    <mat-icon>create_new_folder</mat-icon>
  </button>
</td>
<table class="ui basic table">
  <thead>
    <tr>
      <th *ngFor="let header of eventHeaders">{{header.value}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of this.data?.events" >
      <a [href]="'http://localhost:4200/event/' + item.id" target="_blank">

      <td>
          {{item["id"]}}
      </td>


     <td>
        {{item["name"]}}
     </td>

     </a>
    </tr>
  </tbody>
</table>







<h2>Pages</h2>
<td>
  <button mat-icon-button (click)="addPage()">
    <mat-icon>create_new_folder</mat-icon>
  </button>
</td>
<table class="ui basic table">
  <thead>
    <tr>
      <th *ngFor="let header of pagetHeaders">{{header.value}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of this.data?.pages" >
      <a [href]="'http://localhost:4200/page/' + item.id" target="_blank">

      <td>
          {{item["id"]}}
      </td>


     <td>
        {{item["name"]}}
     </td>
      </a>

    </tr>
  </tbody>
</table>
