
<button (click)="addNewGroup()" >Add New Group</button>
<table class="ui basic table">
  <thead>
    <tr>
      <th *ngFor="let header of header">{{header.value}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data" >

      <td>
        {{item.id}}
      </td>

      <td>
        {{item.name}}
      </td>

      <td>
        <button mat-icon-button (click)="deleteCategory(item)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>

    </tr>
  </tbody>
</table>

<app-dialog (onClose)="OnChangeModal()" (countChanged)="countChangedHandler($event)" *ngIf="ShowModal" ></app-dialog>
