<div class="ui container mt-5" >
  <div class="ui segment">
    <h1>Event detail</h1>

    Group Name : {{ data?.groupName }}
    <br>
    project Name : {{ data?.projectName }}
    <br>
    Event Name : {{ data?.name }}
    <br>








<h2>Projects</h2>
<table class="ui basic table">
  <thead>
    <tr>
      <th *ngFor="let header of header">{{header.value}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of this.data?.services" >
      <a [href]="'http://localhost:4200/project/' + item.id" target="_blank">

      <td>
          {{item["id"]}}
      </td>


     <td>
        {{item["name"]}}
     </td>

     </a>
    </tr>
  </tbody>
</table>


  </div>
</div>
