
<mat-icon (click)="addNewProject()">create_new_folder</mat-icon>
<table class="ui basic table">
  <thead>
    <tr>
      <th *ngFor="let header of header">{{header.value}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">

      <a  [routerLink]="['/project' , item.id ]" >

        <td>
            {{item["id"]}}
        </td>


        <td>
            {{item["name"]}}
        </td>
        <td>
          {{item["group"]["name"]}}
        </td>
      </a>
   <td (click)="deleteProject(item)">
    <button mat-icon-button>
      <mat-icon>delete_forever</mat-icon>
    </button>
  </td>

    </tr>
  </tbody>
</table>
